#zone_classes {
    padding: 0.5em;
    margin: 1em;
    border: 1px solid black;
    width: 20%;
    display: inline-block;
    vertical-align: top;
}

#zone_classes h2 {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

#zone_classes ul {
    list-style: outside none none;
    padding: 0;
    margin: 0;
}

#informations {
    display: inline-block;
}

#formulaire {
    margin: 1em;
    display: table;
}

#formulaire div {
    display: table-row;
}

#formulaire label {
    padding: 0.5em;
    vertical-align: top;
}

#formulaire label, #formulaire input, #formulaire select {
    display: table-cell;
}

#informations tr:nth-child(2n) {
    background-color: #CFE9F2;
}

a {
    cursor: pointer;
}