#actions li
{
    background-position: 99%;
    background-size: 2em;
    background-repeat: no-repeat;
}

#panneau
{
    position: relative;
    min-height: 630px;
}

#carte
{
    width: 630px;
    height: 630px;
    border: 1px solid black;
    border-radius: 1em;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: auto;
}

#carte img
{
    border-radius: 1em;
}

.bloc-element
{
    margin-left: 645px;
}
