@font-face {
    font-family: "Open Sans";
    src: url("../font/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "Open Sans";
    src: url("../font/OpenSans-Bold.ttf");
    font-weight: bold;
}

body
{
    font-family: "Open Sans", serif;
    margin: 1.5em;
    background-color: #E8F9F5;
}

footer
{
    font-size: 0.8em;
}

footer, footer a
{
    color: darkgrey;
}

footer a:hover
{
    color: black;
}

/* enCours */

#enCours
{
    margin-bottom: 0.5em;
    display: flex; 
}

#enCours div
{
    display: inline-block;
    font-weight: bold;
    padding: 0.8em;
    font-size: 1.5em;
}

#enCours div+div
{
    margin: 0px;
}

#enCours-action
{
    border-top-left-radius: 0.75em;
    border-bottom-left-radius: 0.75em;
    min-width: 5em;
    height: 1.5em;
    background: white;
    color: white;
}

#enCours-description
{
    width: calc(100% - 13.8em); /*100%-1em(margin page)-5em(action)-3em(timer)-6×0.8em(padding des divs)*/
    min-height: 1.5em;
    background: black;
    color: white;
}

#enCours-timer
{
    border-top-right-radius: 0.75em;
    border-bottom-right-radius: 0.75em;
    width: 3em;
    height: 1.5em;
    background: black;
    color: white;
    text-align: center;
    transition: background-color 1s;
}

/* Actions possibles */
#actions
{
    list-style: none;
    padding-left: 0px;
    border: 1px solid black;
    border-radius: 0.5em;
    width: calc(50% - 0.8em);
}

#actions li
{
    padding: 0.5em;
    cursor: pointer;
}

#actions li:hover
{
    background-color: beige;
}

#actions li+li
{
    border-top: 1px solid black;
}

/* Quêtes */
#quetes
{
    border-radius: 0.5em;
    border: 1px solid black;
    width: calc(50% - 1.8em);
    padding: 0.5em;
}

#quetes h2
{
    margin-top: 0px;
    margin-bottom: 0.5em;
}

#quetes-liste
{
    list-style: none;
    padding-left: 0px;
}

#quetes-liste li
{
    padding: 0.5em;
}

#quete-info
{
    padding: 1em;
}

.quete-en-cours
{
    background-color: lightgreen;
}

.quete-termine
{
    background-color: lightcoral;
}

.quete-resume
{
    background-color: antiquewhite;
}

/* Dialogue */
#dialogue
{
    border: black 1px solid;
    width: calc(50% - 1.8em);
    padding: 0.5em;
    margin-bottom: 1em;
}

#dialogue-action
{
    text-decoration: underline;
    cursor: pointer;
}

/* infoJoueur */
h1
{
    width: 60%;
    display: inline-block;
    margin-top: 0px;
}

#joueur
{
    display: inline-block;
    height: 2em;
    border-radius: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    background: lightblue;
    font-size: 1.25em;
    vertical-align: middle;
}

#joueur-flex
{
    display: flex;
}

#joueur-flex div
{
    vertical-align: middle;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.25em;
}

#joueur-pseudo
{
    cursor: pointer;
}

/* Logs client */
#logs
{
    border-radius: 0.5em;
    background-color: lightgray;
    width: calc(100% - 2.6em);
    padding: 0.5em;
    list-style: none;
    font-size: 0.85em;
    max-height: 8em;
    min-height: 2em;
    overflow-y: auto;
}

/* Commun à plusieurs éléments */
#actions li:first-child, #quetes-liste li:first-child
{
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

#actions li:last-child, #quetes-liste li:last-child
{
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

#quetes-info, #dialogue
{
    background-color: antiquewhite;
    border-radius: 0.5em;
    display: none;
}
